<section class="description">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Description</h2>
            </div>
            <div class="col-md-6">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga hic corrupti iure saepe eius ratione modi praesentium, nam consequuntur nihil eligendi pariatur quae ipsum dolores facilis delectus dicta voluptatibus aspernatur.</p>
            </div>
            <div class="col-md-6">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga hic corrupti iure saepe eius ratione modi praesentium, nam consequuntur nihil eligendi pariatur quae ipsum dolores facilis delectus dicta voluptatibus aspernatur.</p>
                <p>
                    <button class="btn btn-primary large" href="#">Get started now!</button>
                </p>
            </div>
        </div>
    </div>
    
</section>