<footer>
    <div class="container">

        <div class="row">

            <div class="col-md-4">
                <h3>About Us</h3>
                <p><%= data.description %></p>
            </div>

            <div class="col-md-4 col-md-push-1">
                <h3>Quick Links</h3>
                <ul>
                    <% for (var i in data["nav"]) { %>
                    <li><a href="<%= Object.values(data['nav'][i])%>"><%= Object.keys(data['nav'][i]) %></a></li>
                    <% } %>
                </ul>
                <br>
            </div>

            <div class="col-md-4 col-md-push-1">
                <h3>Follow Us</h3>
                <ul class="social-links">
                    <li><a href="#"><i class="fab fa-twitter"></i><span>Twitter</span></a></li>
                    <li><a href="#"><i class="fab fa-facebook-f"></i><span>Facebook</span></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i><span>Instagram</span></a></li>
                    <li><a href="#"><i class="fab fa-google-plus-g"></i><span>Google Plus</span></a></li>
                </ul>
            </div>

        </div>
        <div class="row">

            <div class="col-md-12 text-center">
                <p class="copyright">
                    <small>
                        Made with care by <a href="http://jesuodz.github.io">Jesus Ordosgoitty</a>.
                    </small>
                    <small>
                        Design from the guys <a href="http://freehtml5.co/" target="_blank">FreeHTML5.co</a>
                        Demo images: <a href="http://pexels.com">Pexels</a>
                    </small>
                </p> 
            </div>

        </div>

    </div>
</footer>