<header>
    <div class="container">
        <nav>

            <ul class="nav justify-content-center">
                
                <% for (var i in data["nav"]) { %>
                <li class="nav-item"><a class="navlink" href="<%= Object.values(data['nav'][i])%>"><span><%= Object.keys(data['nav'][i]) %></span></a></li>
                <% } %>
            </ul>

        </nav>
    </div>
</header>