<header>
    <div class="container">
        <nav>

            <ul class="nav justify-content-center">
                <li class="nav-item"><a class="navlink" href="/"><span>Home</span></a></li>
                <li class="nav-item"><a class="navlink" href="/services"><span>Services</span></a></li>
                <li class="nav-item"><a class="navlink" href="/about"><span>About</span></a></li>
                <li class="nav-item"><a class="navlink" href="/contact"><span>Contact</span></a></li>
            </ul>

        </nav>
    </div>
</header>