body {
    height: 100%;
    font-family: 'Work Sans', Arial, sans-serif;
    font-size: 17px;
    line-height: 1.5;
    font-weight: 300;
    color: #7f7f7f;
    background-color: #fff;
}
::selection {
    color: #fff;
    background: #58cbd3;
}
::-moz-selection {
    color: #fff;
    background: #58cbd3;
}
::-webkit-selection {
    color: #fff;
    background: #58cbd3;
}
h1, h2, h3, h4, h5, h6 {
    color: #000;
    font-weight: 300;
    margin: 0 0 30px 0;
    line-height: 1.1;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.feature-text {
    float: right;
    width: 80%;
    margin-right: -10px;
}
.staff h4 {
    color: #7f7f7f;
    font-size: 18px !important;
}
.staff h3 {
    font-size: 24px;
    margin-bottom: 0;
}
.check-list .icon {
    float: left;
    margin-right: 20px;
}

/* LINKS */
a:hover {
    text-decoration: none;
    color: #58cbd3;
}
.hero a {
    color: white;
    border-bottom: 2px solid hsla(0, 0%, 100%, 0.2);
}

/* WRAPPER */
.wrapper {
    position: relative;
    background: #fff;
    z-index: 2;
    margin-bottom: auto;
}

/* SECTIONS */
.description {
    padding: 3em 0;
}
.feature {
    text-align: left;
    width: 100%;
    float:left;
    padding: 20px;
}
.intro,
.intro h1 {
    color: #fff;
}
.feature .icon {
    font-size: 40px;
    float: left;
    width: 5%;
    display: block;
    margin-top: -5px;
}
.feature h3 {
    margin-bottom: 20px;
    font-size: 24px;
}
.social li {
    display: inline;
}
.icon {
    color: #58cbd3;
}
.social .icon,
.check-list .icon {
    font-size: 24px;
}
.staff {
    margin-bottom: 2rem;
}
.check-list {
    margin-bottom: 1.5rem;
}

/* HEADER */
header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
}
.nav li span {
    transition: 0.5s;
    border-bottom: 2px solid transparent;
    display: block;
    color: #d3d3d3;
}
.nav li {
    padding: 10px 2px;
}
.nav .active span,
.nav li a:hover span {
    color: #fff;
    border-bottom: 2px solid #fff;
}

/* FOOTER */
footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    height: inherit;
    background-color: #333;
    font-size: 18px;
    padding: 5em 0;
}
footer h3 {
    font-size: 20px;
    color: #fff;
}
footer ul li {
    list-style: none;
}
.social-links span {
    padding-left: 12px;
}
footer a {
    color: #d3d3d3;
    transition: 0.5s;
}
footer small {
    display: block;
    font-size: 85%;
}
.copyright {
    padding-top: 3em;
}

/* FORMS */
.form-control {
    font-size: 18px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 0px;
    font-weight: 300;
    padding: 0.400rem 1rem;
}

/* BACKGROUNDS AND IMAGES */
.img-responsive {
    max-width: 100%;
    height: auto;
}
.hero {
    background-position: 0% 0%;
    background-color: #555;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    height: 670px;
}
.hero:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: .2;
    z-index: 10;
}
.intro, header {
    z-index: 11;
}
.hero-one {
    background-image: url("/backgrounds/2-birds-flying-near-body-of-water-during-orange-sunset.jpeg");
}
.hero-two {
    background-image: url("/backgrounds/body-of-water-wave.jpeg");
}
.hero-three {
    background-image: url("/backgrounds/ships-on-body-of-water-during-cloudy-daytime.jpeg")
}
.hero-four {
    background-image: url("/backgrounds/aurora-borealis-lofoten-norway-night.jpg");
}
.hero-five {
    background-image: url("/backgrounds/ocean-during-sunset.jpeg");
}
.hero-six {
    background-image: url("/backgrounds/clouds-dawn-dusk-forest.jpeg");
}
.hero-seven {
    background-image: url("/backgrounds/ocean-during-golden-hour.jpeg");
}
.hero-eight {
    background-image: url("/backgrounds/body-of-water-photography.jpeg");
}
.hero-nine {
    background-image: url("/backgrounds/sunset-photo.jpeg");
}
.staff img {
    margin-bottom: 1rem;
}
#map {
    width: 100%;
    height: 700px;
}

/* QUERIES */
@media (min-width: 992px) {
    .wrapper {
        margin-bottom: 450px;
    }
    footer {
        position: fixed;
        padding-top: 4em;
        height: 450px;
    }
    .staff {
        margin-bottom: 0;
    }
}
@media (min-width: 768px) {
    body {
        font-size: 20px;
        line-height: 1.7;
    }
    .nav li {
        padding: 20px;
    }
    .description {
        padding: 5em 0;
    }
    .check-list {
        margin-bottom: 0;
    }
    .hero h1 {
        font-size: 70px;
    }
}
@media (min-width: 1200px) {
    .icon {
        font-size: 70px;
    }
}

.btn-primary {
    background: #02c2cf;
    border-color: #02c2cf;
    border-radius: 0;
    font-size: 1.125rem;
    transition: 0.5s;
}
.btn-primary:hover {
    background: #58cbd3;
    border-color: #58cbd3;
}