.hero {
    background-image: url("backgrounds/2-birds-flying-near-body-of-water-during-orange-sunset.jpeg");
    background-position: 0% 0px;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}