<!DOCTYPE html>
<html lang="en">
    <% include ../partials/head %>
    <body>
        <main class="wrapper">
            <% include ../partials/nav %>

            <section class="hero hero-four">
                <div class="container h-100">
                    <div class="row h-100 justify-content-center align-items-center">
                        <div class="intro text-center">
                            <h1>
                                About us
                            </h1>
                            <p>
                                Lorem ipsum dolor sit amet consectetur <a href="#">adipisicing elit.</a>
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            
            <section class="description">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <h2>Description</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga hic corrupti iure saepe eius ratione modi praesentium, nam consequuntur nihil eligendi pariatur quae ipsum dolores facilis delectus dicta voluptatibus aspernatur.
                            </p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga hic corrupti iure saepe eius ratione modi praesentium, nam consequuntur nihil eligendi pariatur quae ipsum dolores facilis delectus dicta voluptatibus aspernatur.
                            </p>
                        </div>
                        <div class="col-md-7">
                            <img src="/backgrounds/body-of-water-photography.jpeg" alt="body-of-water-photography" class="img-responsive">
                        </div>
                    </div>
                </div>
            </section>

            <section class="hero hero-five">
                <div class="container h-100">
                    <div class="row h-100 justify-content-center align-items-center">
                        <div class="intro text-center">
                            <h1>
                                Introduction
                            </h1>
                            <p>
                                Lorem ipsum dolor sit amet consectetur <a href="#">adipisicing elit.</a>
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            
            <section class="description">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 staff">
                            <img src="/photos/pexels-photo-220453.jpeg" alt="" class="img-responsive">
                            <h3>Jhon Smith</h3>
                            <h4>Co-Founder, CEO</h4>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos totam omnis asperiores voluptatibus iusto sapiente id perferendis distinctio doloribus? Modi facilis distinctio possimus et asperiores animi eum voluptatum.</p>
                            <ul class="social">
                                <li>
                                    <a href="#">
                                        <i class="fab fa-google-plus-g icon"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-dribbble icon"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-twitter icon"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-facebook-f icon"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-instagram icon"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4 staff">
                            <img src="/photos/pexels-photo-415829.jpeg" alt="" class="img-responsive">
                            <h3>Song Liu</h3>
                            <h4>Co-Founder, CTO</h4>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum optio laudantium, id, temporibus assumenda nulla eligendi aperiam, libero ut deserunt omnis totam voluptas et quis ex minima perferendis culpa eaque.</p>
                            <ul class="social">
                                <li>
                                    <a href="#">
                                        <i class="fab fa-google-plus-g icon"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-dribbble icon"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-twitter icon"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-facebook-f icon"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-instagram icon"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4 staff">
                            <img src="/photos/pexels-photo-774909.jpeg" alt="" class="img-responsive">
                            <h3>Olivia Williams</h3>
                            <h4>Co-Founder, Principal</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam beatae est itaque cupiditate veritatis sequi eaque consequatur, soluta tenetur sint reiciendis architecto dolorem, veniam, voluptatem recusandae autem distinctio.</p>
                            <ul class="social">
                                <li>
                                    <a href="#">
                                        <i class="fab fa-google-plus-g icon"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-dribbble icon"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-twitter icon"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-facebook-f icon"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-instagram icon"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>

            <section class="hero hero-six">
                <div class="container h-100">
                    <div class="row h-100 justify-content-center align-items-center">
                        <div class="intro text-center">
                            <h1>
                                Introduction
                            </h1>
                            <p>
                                Lorem ipsum dolor sit amet consectetur <a href="#">adipisicing elit.</a>
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <% include ../partials/call-to-action %>
        </main>
        
        <% include ../partials/footer %>
    </body>
    <% include ../partials/scripts %>
</html>