<!DOCTYPE html>
<html lang="en">
    <% include ../partials/head %>
    <body>
        <main class="wrapper">

            <% include ../partials/nav %>

            <section class="hero hero-one">
                <div class="container h-100">
                    <div class="row h-100 justify-content-center align-items-center">
                        <div class="intro text-center">
                            <h1>
                                Simple theme
                            </h1>
                            <p>
                                Lorem ipsum dolor sit amet consectetur <a href="#">adipisicing elit.</a>
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            
            <section class="description">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <h2>Description</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga hic corrupti iure saepe eius ratione modi praesentium, nam consequuntur nihil eligendi pariatur quae ipsum dolores facilis delectus dicta voluptatibus aspernatur.
                            </p>
                        </div>
                        <div class="col-md-7">
                            <img src="/backgrounds/body-of-water-photography.jpeg" alt="body-of-water-photography" class="img-responsive">
                        </div>
                    </div>
                </div>
            </section>

            <section class="hero hero-two">
                <div class="container h-100">
                    <div class="row h-100 justify-content-center align-items-center">
                        <div class="intro text-center">
                            <h1>
                                Introduction
                            </h1>
                            <p>
                                Lorem ipsum dolor sit amet consectetur <a href="#">adipisicing elit.</a>
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="description">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="feature">
                                <div class="icon">
                                    <i class="fas fa-chess"></i>
                                </div>
                                <div class="feature-text">
                                    <h3>Feature 1</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum nisi perferendis esse laborum obcaecati.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="feature">
                                <div class="icon">
                                    <i class="fas fa-rocket"></i>
                                </div>
                                <div class="feature-text">
                                    <h3>Feature 2</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum nisi perferendis esse laborum obcaecati.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="feature">
                                <div class="icon">
                                    <i class="far fa-compass"></i>
                                </div>
                                <div class="feature-text">
                                    <h3>Feature 3</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum nisi perferendis esse laborum obcaecati.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="feature">
                                <div class="icon">
                                    <i class="fas fa-hourglass-end"></i>
                                </div>
                                <div class="feature-text">
                                    <h3>Feature 4</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum nisi perferendis esse laborum obcaecati.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="hero hero-three">
                <div class="container h-100">
                    <div class="row h-100 justify-content-center align-items-center">
                        <div class="intro text-center">
                            <h1>
                                Introduction
                            </h1>
                            <p>
                                Lorem ipsum dolor sit amet consectetur <a href="#">adipisicing elit.</a>
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="description">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Description</h2>
                        </div>
                        <div class="col-md-6">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga hic corrupti iure saepe eius ratione modi praesentium, nam consequuntur nihil eligendi pariatur quae ipsum dolores facilis delectus dicta voluptatibus aspernatur.</p>
                        </div>
                        <div class="col-md-6">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga hic corrupti iure saepe eius ratione modi praesentium, nam consequuntur nihil eligendi pariatur quae ipsum dolores facilis delectus dicta voluptatibus aspernatur.</p>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <% include ../partials/footer %>
    </body>
</html>