<!DOCTYPE html>
<html lang="en">
    <% include ../partials/head %>
    <body>
        <main class="wrapper">
            <% include ../partials/nav %>

            <section class="hero hero-seven">
                <div class="container h-100">
                    <div class="row h-100 justify-content-center align-items-center">
                        <div class="intro text-center">
                            <h1>
                                Our services
                            </h1>
                            <p>
                                Lorem ipsum dolor sit amet consectetur <a href="#">adipisicing elit.</a>
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="description">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <h2>Service</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga hic corrupti iure saepe eius ratione modi praesentium, nam consequuntur nihil eligendi pariatur quae ipsum dolores facilis delectus dicta voluptatibus aspernatur.
                            </p>
                            <ul class="check-list">
                                <li><i class="fas fa-check icon"></i>Lorem ipsum dolor</li>
                                <li><i class="fas fa-check icon"></i>Lorem ipsum dolor</li>
                                <li><i class="fas fa-check icon"></i>Lorem ipsum dolor</li>
                                <li><i class="fas fa-check icon"></i>Lorem ipsum dolor</li>
                            </ul>
                        </div>
                        <div class="col-md-7">
                            <img src="images/backgrounds/ocean-during-sunset.jpeg" alt="ocean-during-sunset" class="img-responsive">
                        </div>
                    </div>
                </div>
            </section>

            <section class="hero hero-eight">
                <div class="container h-100">
                    <div class="row h-100 justify-content-center align-items-center">
                        <div class="intro text-center">
                            <h1>
                                Simple theme
                            </h1>
                            <p>
                                Lorem ipsum dolor sit amet consectetur <a href="#">adipisicing elit.</a>
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="description">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7">
                            <img src="images/backgrounds/ocean-during-sunset.jpeg" alt="ocean-during-sunset" class="img-responsive">
                        </div>
                        <div class="col-md-5 order-first order-md-2">
                            <h2>Service</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga hic corrupti iure saepe eius ratione modi praesentium, nam consequuntur nihil eligendi pariatur quae ipsum dolores facilis delectus dicta voluptatibus aspernatur.
                            </p>
                            <ul class="check-list">
                                <li><i class="fas fa-check icon"></i>Lorem ipsum dolor</li>
                                <li><i class="fas fa-check icon"></i>Lorem ipsum dolor</li>
                                <li><i class="fas fa-check icon"></i>Lorem ipsum dolor</li>
                                <li><i class="fas fa-check icon"></i>Lorem ipsum dolor</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>

            <section class="hero hero-nine">
                <div class="container h-100">
                    <div class="row h-100 justify-content-center align-items-center">
                        <div class="intro text-center">
                            <h1>
                                Introduction
                            </h1>
                            <p>
                                Lorem ipsum dolor sit amet consectetur <a href="#">adipisicing elit.</a>
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <% include ../partials/call-to-action %>
        </main>

        <% include ../partials/footer %>
    </body>

    <% include ../partials/scripts %>
    
</html>